.calc_main_container_sv_se {
  padding: auto;
  margin: auto;
  font-family: "Barlow", sans-serif;
  max-width: 1440px;
  color: #475467;
}

.calc_page_header_sv_se {
  text-align: center;
  font-weight: 600;
}

.calc_main_container_sv_se label {
  color: #ffffff;
}

.calculator_root_sv_se {
  display: flex;
  align-items: center;
  width: max-content;
  margin: auto;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 0.375rem;
  overflow: hidden;
  gap: 2.5rem;
  padding-right: 1rem;
  border: 1px #86868650 solid;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  /* overflow: hidden; */
}

.calculator_form_sv_se {
  width: 40%;
  display: block;
  background-color: #175945;
  padding: 1.5rem;
  padding-top: 3.5rem;
}

.invoice_input_sv_se {
  display: flex;
  padding: 0rem 0rem;
  width: 100%;
  align-items: center;
  padding-top: 0.25rem;
}

.invoice_input_sv_se input {
  padding: 0.75rem;
  width: 100%;
  outline-style: none;
  border-left: #fbfbfb;
  border-top: #fbfbfb;
  border-bottom: #fbfbfb;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: #667085;
  font-size: 16px;
}
.invoice_input_sv_se .currency_section_sv_se {
  background-color: #ecf0f1;
  padding: 0.8rem;
  margin-left: -5px;
  border-right: #fbfbfb;
  border-top: #fbfbfb;
  border-bottom: #fbfbfb;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 14px;
  color: #405952;
}

.info_box_sv_se {
  border: 1px solid #fbfbfb;
  border-radius: 0.375rem;
  background-color: #f2e5d6;
  margin-top: 4.5rem;
  padding: 1rem;
}

.info_box_sv_se ul {
  margin: 0;
  padding: 0;
}

.info_box_sv_se ul li {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.info_box_sv_se ul li p {
  margin: 0;
  padding: 0.25rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.info_box_sv_se ul li span {
  font-weight: 500;
}

.display_section_sv_se {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.chart_div_sv_se {
  width: 250px !important;
  height: 250px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart_div_sv_se canvas {
  width: 240px !important;
  height: 240px !important;
}

.legend_row_sv_se {
  display: flex;
  width: 25vw;
  min-width: 120px;
  justify-content: space-between;
  align-items: start;
  padding-top: 1rem;
  padding-right: 2.5rem;
}

.legend_color_sv_se {
  margin-top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: grey;
}

.legend_left_sv_se {
  text-align: left;
  width: 50%;
}

.legend_right_sv_se {
  text-align: right;
  width: 40%;
}

.chart_side_sv_se .bottom_text_sv_se {
  text-align: center;
  padding-top: 2rem;
  color: #175945;
}

@media screen and (max-width: 1023px) {
  /* Apply flex direction column for devices less than 1024px width */
  .calculator_root_sv_se {
    flex-direction: column;
    border: none;
    width: unset;
    padding-right: unset;
  }
  .calculator_form_sv_se {
    width: 90%;
    max-width: 80vw;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .display_section_sv_se {
    flex-direction: column;
  }

  .legend_section_sv_se {
    width: 90%;
  }

  .legend_row_sv_se {
    max-width: 90vw;
    min-width: unset;
    width: 100%;
    padding-right: unset;
  }

  .info_box_sv_se ul li {
    min-width: unset;
  }
}

.custom-select_sv_se {
  position: relative;
  padding-top: 0.25rem;
}

.custom-select_sv_se select {
  display: none;
}

.select-selected_sv_se {
  background-color: #f9fafb;
  border-radius: 0.5rem;
}

.select-selected_sv_se:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #175945 transparent transparent transparent;
}

.select-selected_sv_se.select-arrow-active_sv_se:after {
  border-color: transparent transparent #175945 transparent;
  top: 12px;
}

.select-items_sv_se div,
.select-selected_sv_se {
  padding: 8px 16px;
  cursor: pointer;
}

.select-items_sv_se {
  margin-top: 0.25rem;
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0.5rem;
  overflow: hidden;
  font-weight: 500;
  color: #101828;
}

.select-hide_sv_se {
  display: none;
}

.select-items_sv_se div:hover,
.same-as-selected_sv_se {
  background-color: #a5b99c;
}
